/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

main {
    height: 100%;
    padding-top: 120px;
    font-size: 14px;
}

/* utils */
.container-big {
    width: 70%;
    margin: 0 auto;

}

.container-small {
    width: 50%;
    margin: 0 auto;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.mt-30 {
    margin-top: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

a.btn-blue {
    background-color: rgb(0, 97, 255);
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    text-decoration: none;
}

.check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 50%;
    vertical-align: middle;

}

.border {
    border: 1px solid rgb(215, 211, 211);
}

ul li {
    list-style-type: none;
}

/* header */

/* nav */
.nav-bar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgb(173, 173, 173);
    z-index: 1;
}

.nav-bar-left,
.nav-bar-right {
    flex-basis: 50%;
    line-height: 60px;
    vertical-align: middle;
}

.nav-bar-right {
    text-align: right;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}

/* jumbotron */
.jumbotron {
    background-color: rgb(180, 208, 231);
    height: 680px;
    padding-top: 140px;
}

.jumbotron h1 {
    font-size: 62px;
    font-weight: 800;
    padding-bottom: 50px;
}

.jumbotron .text {
    width: 30%;
    height: 300px;
    font-size: 14px;
    align-items: flex-start;
}

a.skip {
    color: rgb(0, 0, 0);
}

.jumbotron figure {
    width: 70%;
    height: 300px;
}

.jumbo-img {
    width: 90%;
}

/* main */
.row-plans {
    height: 800px;
    font-size: 12px;
}

.row-plans h2 {
    font-size: 30px;
}

.check.blue {
    border-color: rgb(0, 97, 255);
    border-width: 4px;
}

.billing p {
    display: inline-block;
    margin-right: 30px;
}

.card {
    flex-basis: calc(100% / 3 - 30px);
    padding: 10px 20px;
    line-height: 30px;
}

.customer {
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: center;
}

.fa-check {
    color: rgb(0, 97, 255);
}

.info,
.description,
.choice,
hr,
.highlights {
    margin-bottom: 30px;
}

.timing {
    color: rgb(173, 173, 173);
}

.row-enterprise {
    font-size: 12px;

}

.team {
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    border-bottom: none;
}

.row-enterprise .contact {
    height: 150px;
    padding: 20px;
}

.contact .btn-blue {
    text-align: center;
}